* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.body {
  background-color: var(--color-background-card);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: 1.6;
  background-color: var(--color-surface);
  background-color: var(--color-surface);
}

:root {
  --brand-primary-color: #E3646E;
  --border-card2: #3996DB;
  --border-card5: #82BC4F;
  --border-card3: #EABD5F;
  --color-background-card: #292C34;
  --color-surface: #16181D;     
  --color-border: #878EA1;      
  --color-text: #E2E4E9;        
  --color-text-light: #C0C4CE;
  --text-contact: #BB72E9;

  --font-family: "Asap", "Inconsolata", "Maven Pro";

  --text-lg-size: 56px;
  --text-lg-line: 120%;
  --text-lg-weight: 700;

  --text-md-size: 24px;
  --text-md-line: 120%;
  --text-md-weight: 700;

  --text-sm-size: 16px;
  --text-sm-line: 120%;
  --text-sm-weight: 700;

  --text-regular-size: 20px;
  --text-regular-line: 120%;
  --text-regular-weight: 400;
}

